* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
}

.ordering {
    width: 80vw;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

/* Заголовок страницы */

.ordering__title {
    font-weight: 500;
    font-size: 1.9em;
    letter-spacing: 0.02em;
    padding: 3em 0 2em 0;
    text-align: center;
}

/* Формы данных покупателя */

.ordering__details {
    display: flex;
    flex-direction: column;

}

.ordering__details-title {
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 1em;
}

.required {
    color: rgb(243, 83, 83);
}

.ordering__details {
    margin-bottom: 2.5em;
}

.ordering__details-field {
    display: flex;
    height: 2.5em;
    padding-left: 0.4em;
    margin: 0.1em 0 0.9em 0;
    letter-spacing: 0.02em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    border: 0.08em solid #000;
    border-radius: 0.3em;
}

#user-comment {
    min-height: 5em;
    line-height: 1.5em;
}

/* Форма заказа */

.ordering__details-confirmation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 2em);
    margin-top: 0.7em;
    font-weight: 100;
}

.ordering__details-total {
    font-weight: 400;
}

.ordering__details-item {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    font-weight: 400;
}

.ordering__details-cost {
    grid-row: 1 / 1;
    grid-column: 2 / 2;
    font-weight: 400;
}

.ordering__details-right {
    justify-self: right;
}

/* Форма выбора способа оплаты */
.ordering__payment-title {
    text-align: center;
}

.ordering__payment-option {
    margin-top: 1.5em;
}

.ordering__payment-button {
    width: 9em;
    padding: 0.3em 0.9em 0.3em 0.9em;
    margin: 1.5em 0 5em 0;
    letter-spacing: 0.02em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    border: 0.08em solid #000;
    border-radius: 0.3em;
    cursor: pointer;
}

.ordering__payment-button:hover {
    background-color: #ace1af;
}

@media screen and (min-width: 768px) {
    .ordering {
        width: 80vw;
        margin: 0 auto;
        font-family: 'Roboto', sans-serif;
    }

    /* Заголовок страницы */

    .ordering__title {
        font-weight: 500;
        font-size: 1.9em;
        letter-spacing: 0.02em;
        padding: 3em 0 2em 0;
        text-align: center;
    }

    /* Формы данных покупателя */

    .ordering__details {
        display: flex;
        flex-direction: column;

    }

    .ordering__details-title {
        font-weight: 400;
        font-size: 1.5em;
        letter-spacing: 0.02em;
        text-align: center;
        margin: 1em;
    }

    .required {
        color: rgb(243, 83, 83);
    }

    .ordering__details {
        margin-bottom: 2.5em;
    }

    .ordering__details-field {
        display: flex;
        height: 3em;
        padding-left: 0.4em;
        margin: 0.1em 0 0.9em 0;
        letter-spacing: 0.02em;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 1em;
        border: 0.08em solid #000;
        border-radius: 0.3em;
    }

    #user-comment {
        min-height: 5em;
        line-height: 1.5em;
    }

    /* Форма заказа */

    .ordering__details-confirmation {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 2em);
        margin-top: 0.7em;
        font-weight: 100;
    }

    .ordering__details-total {
        font-weight: 400;
    }

    .ordering__details-item {
        grid-row: 1 / 1;
        grid-column: 1 / 1;
        font-weight: 400;
    }

    .ordering__details-cost {
        grid-row: 1 / 1;
        grid-column: 2 / 2;
        font-weight: 400;
    }

    .ordering__details-right {
        justify-self: right;
    }

    /* Форма выбора способа оплаты */
    .ordering__payment-title {
        text-align: center;
    }

    .ordering__payment-option {
        margin-top: 1.5em;
    }

    .ordering__payment-button {
        width: 9em;
        padding: 0.3em 0.9em 0.3em 0.9em;
        margin: 2em auto;
        letter-spacing: 0.02em;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        border: 0.08em solid #000;
        border-radius: 0.3em;
        cursor: pointer;
        display: block;
    }

    .ordering__payment-button:hover {
        background-color: #ace1af;
    }
}

/*Стили блока футер*/
/*div {
    border: 1px solid red;
}*/
